.btn-send-verification {
    width           : 240px;
    height          : 50px;
    text-align      : center;
    display         : inline-block;
    background-color: #06bbcc;
    color           : white;
    border          : none;
    border-radius   : 25px;
    cursor          : pointer;
    transition      : background-color 0.3s ease, color 0.3s ease;
}

.btn-send-verification:hover {
    background-color: #03999f;
    color           : #fff;
}

.btn-verification {
    font-size: 20px;
}

.btn-reset-password {
    font-size: 20px;
}

.title-forget-Password {
    color     : var(--bs-heading-color);
    text-align: center;
}

.no-caret {
    caret-color: transparent;
}