/* Main container for the quiz app */
.quiz-app {
    font-family     : Arial, sans-serif;
    justify-content : center;
    background-color: #f9f9f9;
    border-radius   : 10px;
    box-shadow      : 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding         : 20px;
    display         : flex;
    min-height      : 25rem;
    margin-top      : 12px;
}

.quiz-question-card {
    text-align: center;
    width     : 50rem;
}

.quiz-question-card h2 {
    font-size    : 20px;
    color        : #555;
    margin-bottom: 15px;
}

.quiz-question-card p {
    font-size    : 28px;
    color        : #333;
    margin-bottom: 20px;
}


.quiz-options {
    display       : flex;
    flex-direction: column;
    gap           : 10px;
}

.quiz-options button {
    padding         : 10px 15px;
    font-size       : 16px;
    background-color: white;
    border          : 1px solid black;
    border-radius   : 4px;
    cursor          : pointer;
    transition      : background-color 0.3s ease, border-color 0.3s ease;
}

.quiz-options button:hover {
    background-color: #06bbcc;
    border-color    : #06bbcc;
    color           : white;
}

/* Result card styles */
.quiz-result-card {
    text-align: center;
}

.quiz-result-card h2 {
    font-size    : 24px;
    color        : #333;
    margin-bottom: 20px;
}

.quiz-result-card button {
    padding         : 10px 20px;
    font-size       : 16px;
    color           : #fff;
    background-color: #06bbcc;
    border          : none;
    border-radius   : 5px;
    cursor          : pointer;
    transition      : background-color 0.3s ease;
    width           : 20rem;
}

.quiz-result-card button:hover {
    background-color: #048ea3;
}


/* Result answer list styles */
.quiz-answer-list {
    list-style: none;
    padding   : 0;
    margin-top: 20px;
    width     : 50rem;
}

.quiz-answer-item {
    background-color: #f1f1f1;
    margin-bottom   : 15px;
    padding         : 15px;
    border-radius   : 8px;
    box-shadow      : 0 2px 5px rgba(0, 0, 0, 0.1);
}

.quiz-answer-item p {
    margin: 5px 0;
}

.quiz-answer-item.correct {
    border-left: 5px solid #28a745;
}

.quiz-answer-item.incorrect {
    border-left: 5px solid #dc3545;
}

.quiz-answer-item span {
    display     : inline-block;
    margin-right: 10px;
    font-weight : bold;
}

.quiz-answer-item .correct {
    color: #28a745;
}

.quiz-answer-item .incorrect {
    color: #dc3545;
}

.start-quiz-container {
    text-align: center;
    margin-top: 20px;
}


.start-quiz-button {
    padding         : 10px 20px;
    font-size       : 16px;
    background-color: #06bbcc;
    color           : white;
    border          : none;
    border-radius   : 5px;
    width           : 20rem;
    cursor          : pointer;
    transition      : background-color 0.3s ease;
}

.start-quiz-button:hover {
    background-color: #048ea3;
}