.checkout-body{
  padding: 12px;
  min-height: 100vh;
}


.checkout-card {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 1rem;
}
.checkout-card label{
  margin-left: 12px;
}
.checkout-card-body p{
  margin-left: 28px;
}

.checkout-card img{
 width: 100px;
 height: 35px;
}

.btn-checkout {
  background-color: #06bbcc;
  color: white; 
  border: none;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 8px;
}

.btn-checkout:hover {
  background-color: #0499a3; 
  transform: scale(1.05); 
}


