.btn-show-discount {
    border-radius: 12px;
    margin-left  : 12px;
    font-size    : 14px;
    color        : #06bbcc;
}

.input-group {
    display    : flex;
    align-items: center;
}

.input-group .form-control {
    flex-grow: 1;

}

.input-group button {
    white-space: nowrap;
}


/* Modal background */
.modal-overlay {
    position        : fixed;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index         : 1000;
    display         : flex;
    justify-content : center;
    align-items     : center;
}

/* Modal container */
.modal-container {
    background-color: white;
    padding         : 20px;
    border-radius   : 8px;
    width           : 1000px;
    box-shadow      : 0 4px 8px rgba(0, 0, 0, 0.2);
    position        : relative;
}

/* Title of the modal */
.modal-container h4 {
    font-size    : 1.5rem;
    font-weight  : 600;
    color        : #333;
    margin-bottom: 20px;
}

/* List container */
.modal-list {
    list-style-type: none;
    padding        : 0;
    margin         : 0;
}

/* Individual coupon items */
.modal-item {
    padding         : 12px;
    border          : 1px solid #ddd;
    border-radius   : 8px;
    margin-bottom   : 12px;
    cursor          : pointer;
    transition      : all 0.3s ease;
    background-color: #f9f9f9;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
}

/* Hover effect for coupon items */
.modal-item:hover {
    background-color: #2bc5d4;
    color           : white;
    transform       : translateY(-2px);
    box-shadow      : 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Coupon text style */
.modal-item-text {
    font-size  : 1.1rem;
    font-weight: 500;
    color      : #333;
}

/* Close button inside modal */
.modal-close-btn {
    position        : absolute;
    top             : 10px;
    right           : 10px;
    background-color: #2bc5d4;
    color           : white;
    border          : none;
    padding         : 8px 16px;
    border-radius   : 4px;
    cursor          : pointer;
    font-size       : 1rem;
}

/* Hover effect for close button */
.modal-close-btn:hover {
    background-color: #228e99;
}